<!DOCTYPE html>
<html lang="pt-br">
	<head>
		
		<meta charset="UTF-8">
		<tile></tile>
		<link rel="stylesheet" href="style.css">
	</head>

	<body>
		<img id="banner" src="https://upload.wikimedia.org/wikipedia/commons/f/f4/Logo_da_Rolex.png">
		<div class="principal">
			<h1>Rolex</h1>
		    <p><em>A loja <strong>Rolex</strong> tem sedes e franquias em toda parte do mundo, mas sua sede se localiza na cidade de <strong>Genebra (Suiça).</strong></em></p>

			<p>A primeira loja da Rolex foi fundada em Londres por Hans Wilsdorf, em 1905, com o objetivo de fazer muito sucesso com seus 24 anos. Ele já almejava usar relogios em seu pulso e com isso criou uma loja especializada nesse ramo. Mesmo sabendo que naquela época os relogios não eram precisos na questão de horário e precisavam de melhorias, Hans tinha certeza  de que os relógios se tornariam elegantes e confiáveis.</p>

			<p>Para mostrar ao público que seus relógios eram altamente confiáveis, froram equipados com mecanismos extremamente  pequenos e precisos, feitos por uma manofatura sediada em Bienna, Suiça. E se mudou para cidade de Genebra na Suiça.</p>

			<P>Em 1908 Hans decidiu colocar um nome fácil de pronunciar em seus relógios para que todos os países quando ouvissem o nome <strong>Rolex</strong> soubessem que é uma loja famosa e de alto luxo. Um dos significado dele ter colocado esse nome foi para ter um nome visual e bem atraente.</P>

			<p>Em 1910 Wilsdorf foi em busca de melhorar a precisão dos seus relógios para que pudesse ter um dispositivo da mais alta qualidade em questão de precisão cronométrica. Pela primeira vez na história da Suíça Watching Rating entregou um certificado há um relógio de pulso. Em 1914, a organização britânica Kew Observatory concedeu um certificado classe A de precisão ao relógio de pulso Rolex, tendo a conferência exclusiva do cronômetro da marinha.</p>
        <div class="beneficios">
			<h2>Benefícios de ter um Rolex</h2>
			<p>.Vantagem 1: Evitar Desvalorização</p>
            <p>.Vantagem 2: Feito para Durar</p>
            <p>.Vantagem 3: Mais Opções</p>
            <p>.Vantagem 4: Apelo Vintage</p>
            <p>.Vantagem 5: Melhores Ofertas</p>
            <p>.Vantagem 6: Oportunidade de Investimento</p>
            <p>.Vantagem 7: Se Tornar Parte da História.</p>
		</div>
	</body>
</html>
